sudo: required
language: node_js
node_js:
  - "13"
cache:
  directories:
  - node_modules
install:
  - npm install -g truffle
  - npm install -g ganache
  - npm install
script:
  - npm run lint
  - npm run solium
  - truffle compile
  - npm run ganache
  - sleep 5
  - truffle migrate
  - truffle test
  - npm run stop
after_script:
  - npm run coverage && cat coverage/lcov.info | coveralls
